@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation:wght@400;700&display=swap');

body {
    text-align: center;
    cursor: url('NEW_piskel_1.png'), auto;
    background-color: rgb(2, 2, 70);
    color: white;
    font-family: 'Edu NSW ACT Foundation', cursive;
}

img {
    border-radius: 5%;
}


